<footer>
    	<div class="container">
        	<div id="logo-footer"></div>
            <ul>
                <li><a href="/support/">Support</a></li>
                <li><a href="http://docs.paralleluniverse.co">Documentation</a></li>
                <li><a href="/about/">Company</a></li>
                <li><a href="http://blog.paralleluniverse.co">Blog</a></li>
            </ul>
            <a href="https://www.facebook.com/puniverseco" class="social social1">social</a>
            <a href="https://twitter.com/puniverseco" class="social social2">social</a>
            <a href="http://www.linkedin.com/company/2568299?trk=tyah&trkInfo=tas%3Aparallel%20univer%2Cidx%3A1-1-1" class="social social3">social</a>
        </div><!--container-->
</footer>
