
<header>
    <div class="container">
        <a href="{{site.baseurl}}" id="logo">Parallel Universe</a>
		<ul id="nav">
            <li><a href="https://github.com/puniverse/capsule">GitHub</a></li>
            <li><a href="/caplets.html">Caplets</a></li>
            <li><a href="/user-guide.html">User Guide</a></li>
            <li><a href="/refrence.html">Refrence</a></li>
            <li><a href="http://blog.paralleluniverse.co/tagged/capsule/">Blog</a></li>
        </ul>
    </div>
</header>
