
<header>
    <div class="container">
        <a href="{{site.baseurl}}" id="logo2">Parallel Universe</a>
        <a class="github-button" href="https://github.com/puniverse/capsule" data-style="mega" id="github">View on GitHub</a>
		<ul id="nav">
			<li><a href="/caplets.html">Caplets</a></li>
            <li><a href="/user-guide.html">User Guide</a></li>
            <li><a href="/refrence.html">Refrence</a></li>
            <li><a href="http://blog.paralleluniverse.co">Blog</a></li>
        </ul>
    </div>
</header>
