
	<div class="post">
		<h4><a href="http://blog.paralleluniverse.co/2015/07/01/comsat-0.4.0/">Comsat 0.4.0: OkHttp and HTTP Kit Client</a></h4>
	    <p>The new Comsat release introduces new integrations as well as many improvements and fixes</p>
	</div>

	<div class="post">
		<h4><a href="http://blog.paralleluniverse.co/2015/06/25/reactive-streams/">Quasar and Reactive Streams</a></h4>
	    <p>Quasar 0.7.2 has been released with bug fixes, improvements and newly-added support for the Reactive Streams interoperation standard</p>
	</div>
