
	<li><a href="http://blog.paralleluniverse.co/2015/09/10/capsule-1-0/">Capsule 1.0: The Ultimate JVM Application Deployment Tool, Now with Containers</a></li>

	<li><a href="http://blog.paralleluniverse.co/2014/05/08/modern-java-pt2/">An Opinionated Guide to Modern Java, Part 2: Deployment, Monitoring & Management, Profiling and Benchmarking</a></li>

	<li><a href="http://blog.paralleluniverse.co/2014/05/01/modern-java/">Not Your Father's Java: An Opinionated Guide to Modern Java Development, Part 1</a></li>
