
<!-- <top-nav> -->
<div id="doumentation-bottom-bar">
	<div class="container">
		<div class="side-title"><h2>documentation</h2></div>
		<h3>Pulsar</h3>
		<a href="https://github.com/puniverse/pulsar" class="btn-1"><span>View on Github</span></a>
		<a href="http://puniverse.github.io/pulsar/api/index.html" class="btn-2"><span>API</span></a>
		<a href="https://github.com/puniverse/pulsar/issues/new" class="btn-3"><span>fIile a bug</span></a>
		<a href="https://groups.google.com/forum/#!forum/quasar-pulsar-user" class="btn-4"><span>Discuss</span></a>
	</div>
</div>
<!-- </top-nav> -->
